.title-guide-styles{
    color: $color-text;
    text-align: center;
    margin-top: 1em;
}
.article-item{
    display: inline-block;
    text-transform: uppercase;
}
.article-guide{
    border: 2px solid $color-text;
    border-radius: 1em;
    padding: 2em 1em;
}

.title-article{
    color: $color-text;
    text-transform: capitalize;
    font-size: 1.5em;
    text-align: center;
}

.Primary{
    background-color: $color-primary;
    color: $color-text-two;
    padding: .5em 1em;
    border-radius: 1em;
    
}
.Primary-two{
    background-color: $color-primary-two;
    color: $color-text-two;
    padding: .5em 1em;
    border-radius: 1em;
    
}
.Secundary{
    background-color: $color-secundary;
    color: $color-text-two;
    padding: .5em 1em;
    border-radius: 1em;
    
}
.Secundary-two{
    background-color: $color-secundary-two;
    color: $color-text-two;
    padding: .5em 1em;
    border-radius: 1em;
    
}
.Text{
    background-color: $color-text;
    color: $color-text-two;
    padding: .5em 1em;
    border-radius: 1em;
    
}
.Text-two{
    background-color: $color-text-two;
    color: $color-text;
    padding: .5em 1em;
    border-radius: 1em;
    
}
.Bg{
    background-color: $color-bg;
    color: $color-text;
    padding: .5em 1em;
    border-radius: 1em;
    border: 1px solid $color-text-two;
}


// Typography

// dosis
// nunito
// nanum gothic
.exampleNunito{
    font-family: 'Nunito', sans-serif;
    font-size: 1.4em;
}
.examplenanumgothic{
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 1.4em;
}
.exampledosis{
    font-family: 'Dosis', sans-serif;
    font-size: 1.4em;
}