//palette color

$color-primary:       #092854;
$color-primary-two:   #1e6a94;
$color-secundary:     #26c934;
$color-secundary-two: #00d567;
$color-bg:            #F3F4F2;
$color-text:          #53575A;
$color-text-two:      #E8EDF2;
$color-error:         #f74033;
$color-danger:        #f76733;

// z-index

$background:        0;
$normal:            50;
$fixed:             100;
$modal:             200;
$loader:            400;

$s  : 0;    // Todos los tamaños
$m  : 40em;  // ~ 640px
$lg : 64.01em; // ~ 1024px
$xl : 90em;  // ~1440px
$xxl: 120em;  //~1920px