*{
    box-sizing: border-box;
}
html,
body{
    background: $color-bg;
    
}
body::-webkit-scrollbar{
    width: 10px;
    height: 15px; 
}
/* Estilos barra (thumb) de scroll */
body::-webkit-scrollbar-thumb {
    background: $color-primary;
    // border-radius: 5px;
    
  }
  
body::-webkit-scrollbar-thumb:active {
    background-color: $color-primary;
  }
  
body::-webkit-scrollbar-thumb:hover {
    background: $color-primary;
    box-shadow: 0 0 1px 1px $color-primary;
  }
 /* Estilos track de scroll */
body::-webkit-scrollbar-track {
    background: $color-bg;
    border-radius: 4px;
  }
  
body::-webkit-scrollbar-track:hover, 
body::-webkit-scrollbar-track:active {
    background: $color-text-two;
  }
select{
  background: transparent;
}
a{
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}
