.btn{
    position: relative;
    overflow: hidden;
    padding: 15px 35px;
    margin: .5em;
    // font-size: .85em;
    line-height: .8;
    border: 2px solid;
    border-radius: 25em;
    // font-family: "Open Sans", sans-serif 
    font-weight: 500;
    letter-spacing: 0.01em;
    text-transform: none;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
    cursor: pointer;
    vertical-align: middle;
    user-select: none;
    outline: 0;
    // transition: .4s all;
}
.btn:focus{
    outline: 0;
}
.btn:active{
    transform: (scale(.99));
    outline: 0;
}

.btn-nav{
    border-radius: 5em;
    border: 2px solid $color-text-two;
    font-weight: 700;
    color: $color-text-two;
}

@media (min-width: $m) {
    .btn-nav{
        padding: .5em 1em;
        font-size: 1.3em;
       
        display: inline-block;
        
    }
    .bnt-card-dashboard{
        background: $color-primary;
        color: $color-text-two;
        font-family: inherit;
    }
}
@media (min-width: $lg) {
    .btn-nav{
        padding: .5em 1em;
        font-size: 1em;
        bottom: .4em;
        
    }
}
.btn-nav:hover{
    text-decoration: none;
    border: 2px solid $color-secundary-two;
}
.btn-banner {
    background: $color-secundary-two;
    color: $color-text-two;
    border: none;
    font-weight: bold;
    border: 2px solid  $color-secundary-two;
   
}
.btn-banner:hover{
    background: transparent;
   
}
.btn-banner:active{
    background: transparent;
    outline: 0;
   
}
@media (min-width: $s) {
    .btn-banner{
        font-size: .9em;
        margin: .2em   ;
        width: 16em; 
        display: inline-block;
    }
    .bnt-card-dashboard{
        background: $color-primary;
        color: $color-text-two;
        font-family: inherit;
    }
    .btn-cancel,
    .btn-delete{
        font-size: 1em;
        margin: 2em auto 0 auto;
    }
   
}
@media (min-width: $m) {
    .btn-banner{
        display: block;
        font-size: 1.1em ;
        margin: 1em auto  ;
        width: 14em; 
    }
    .btn-cancel,
    .btn-delete{
    font-size: 1.3em;
    margin: 2em 1em 0 1em;
}
}

@media (min-width: $lg) {
    .btn-banner{
        font-size: 1.4em ;
        margin: 1em auto  ;
        width: 14em; 
    }
    .btn-cancel,
    .btn-delete{
    font-size: 1em;
    margin: 2em 1em 0 1em;
    }
}

@media (min-width: $s) {
    .btn-modal-start{
        background: transparent;
        border-color: $color-primary;
        color: $color-primary;
        font-weight: bold;
        width: 90%;
        margin: 1em auto;
        font-size: 1em; 
    }
    .btn-create-account{
        background: $color-primary;
        color: $color-text-two;
        margin: 0 0 .8em 0;
        width: 100%;
       
    }
    
}
@media (min-width: $m) {
    .btn-modal-start{
        width: 90%;
        margin: 0 auto 2em auto;
        font-size: 1.5em;
        
    }
}
@media (min-width: $lg) {
    .btn-modal-start{
        font-size: 1em;
        
    }
}

.btn-modal-start:hover{
    background: $color-primary;
    color: $color-text-two;
}



.btn-cancel{
    background: $color-primary-two;
    border: none;
    color: #fff;
}
.btn-delete{
    background: $color-error;
    border: none;
    color: #fff;
}