@media (min-width: $s) {
    .card-dashboard{
        background: #ffffff;
        padding: 1.5em 1em;
        height: 26em;
        margin: 3em 0 3em 0;
        border-radius: 1em;
        border: 1px solid $color-text-two;
        font-family: 'Nunito', sans-serif;
        box-shadow: 0 14px 28px rgba(92, 91, 91, 0.25), 0 10px 10px rgba(221, 219, 219, 0.22);
    }
    .search-card-dashboard{
        width: 100%;
        padding: 0 0 .5em .2em;
        border: none;
        border-bottom: 2px solid $color-text-two;
        text-transform: capitalize;
        margin: 1em 0 0 0;
        outline: 0;
        color: $color-primary-two;
        font-size: 1.1em;
        font-family: inherit;

    }
    .search-card-dashboard:focus{
        outline: 0;
        border-bottom: 2px solid $color-primary;
        color: $color-primary;

    }
    .search-card-dashboard::placeholder{
        font-size: 1em;
        color: $color-text;
        font-family: inherit;
    }
    .icon-search-card{
        color: $color-text;
        position: relative;
        left: 92%;
        top: -1.5em;
        font-size: 1.2em;

    }
    .body-card-dashboard{
        height: 15em;
        
    }
    .list-card-dashboard{
        list-style: none;
        padding-left: 0;
    }
    .item-list-card-dashboard{
        min-width: 100%;
        margin: 0;
        height: 2em;
    }
    .name-list-dashboard{
        color: $color-text;
        font-size: .85em;
        text-transform: capitalize;
        cursor: pointer;
        
    }
    .icons-list{
       text-align: right;
       cursor: pointer;
    }
    .icon-delete-dashboard{
        color: $color-danger;
    }
    .icon-edit-dashboard {
        color: #45d88c;
    }
    .footer-card-dashboard{
        text-align: center;
        margin-top: 20px;
    }
    
    .siguiente{
        border-left: none;
        border-top: 2px solid #fff;
        border-bottom: 2px solid #fff;
        border-right:2px solid #fff;
        border-top-right-radius: 1em;
        border-bottom-right-radius: 1em;
        border-top-right-radius: 1em;
        height: 2em;
        // margin-left: -16px;
        margin-left: -25px;
        // background: $color-text-two;
    }
    .atras
    {    
        border-left: 2px solid #fff;
        border-top: 2px solid #fff;
        border-bottom: 2px solid #fff;
        border-right: none;
        border-top-left-radius: 1em;
        border-bottom-left-radius: 1em;
        border-top-left-radius: 1em;
        // margin-right: -16px;
        margin-right: -25px;
        height: 2em;
    }
    .position-pagination{
        padding: 3px 0 0 0;
        margin: 0;
        height: 2em;
        border-top: 2px solid #fff;
        border-bottom: 2px solid #fff;
        font-size: 1em;
        font-weight: 700;
        border-left: 2px solid #fff;
        border-right: 2px solid #fff;
        color: $color-primary;
        // background: $color-text-two;
    }
    .span-pagination{
        margin-left: 5px;
        margin-right: 5px; 
    }
    .icon-pagination{
        font-size: 1.4em;
        margin-top: 2px;
        color: $color-primary;
    }
    .icon-pagination:hover{
        cursor: pointer;
    }
    
}

@media (min-width: $m) {
    .card-dashboard{
        background: #ffffff;
        padding: 1.5em 1em;
        height: 26em;
        margin: 2em 0 1em 0;
        border-radius: 1em;
        border: 1px solid $color-text-two;
        font-family: 'Nunito', sans-serif;
        box-shadow: 0 14px 28px rgba(92, 91, 91, 0.25), 0 10px 10px rgba(221, 219, 219, 0.22);
    }
    .search-card-dashboard{
        width: 100%;
        padding: 0 0 .5em .2em;
        border: none;
        border-bottom: 2px solid $color-text-two;
        text-transform: capitalize;
        margin: 1em 0 0 0;
        outline: 0;
        color: $color-primary-two;
        font-size: 1.1em;
        font-family: inherit;

    }
    .search-card-dashboard:focus{
        outline: 0;
        border-bottom: 2px solid $color-primary;
        color: $color-primary;

    }
    .search-card-dashboard::placeholder{
        font-size: 1em;
        color: $color-text;
        font-family: inherit;
    }
    .icon-search-card{
        color: $color-text;
        position: relative;
        left: 92%;
        top: -1.5em;
        font-size: 1.2em;

    }
    .body-card-dashboard{
        height: 15em;
        
    }
    .list-card-dashboard{
        list-style: none;
        padding-left: 0;
    }
    .item-list-card-dashboard{
        min-width: 100%;
        margin: 0;
        height: 2em;
    }
    .name-list-dashboard{
        color: $color-text;
        font-size: .85em;
        text-transform: capitalize;
        cursor: pointer;
        
    }
    .icons-list{
       text-align: right;
       cursor: pointer;
    }
    
   
    .footer-card-dashboard{
        text-align: center;
    }
    
}


@media (min-width: $lg) {
    
    .search-card-dashboard{
        width: 100%;
        padding: 0 0 .5em .2em;
        border: none;
        border-bottom: 2px solid $color-text-two;
        text-transform: capitalize;
        margin: 1em 0 0 0;
        outline: 0;
        color: $color-primary-two;
        font-size: 1.1em;
        font-family: inherit;

    }
    .search-card-dashboard:focus{
        outline: 0;
        border-bottom: 2px solid $color-primary;
        color: $color-primary;

    }
    .search-card-dashboard::placeholder{
        font-size: 1em;
        color: $color-text;
        font-family: inherit;
    }
    .icon-search-card{
        color: $color-text;
        position: relative;
        left: 92%;
        top: -1.5em;
        font-size: 1.2em;

    }
    .body-card-dashboard{
        height: 15em;
        
    }
    .list-card-dashboard{
        list-style: none;
        padding-left: 0;
    }
    .item-list-card-dashboard{
        min-width: 100%;
        margin: 0;
        height: 2em;
    }
    .name-list-dashboard{
        color: $color-text;
        font-size: 1em;
        text-transform: capitalize;
        cursor: pointer;
        
    }
    .icons-list{
       text-align: right;
       cursor: pointer;
    }
    
    
    .siguiente{
        margin-left: -50px;
    }
    .atras{    
        margin-right: -50px;
    }
    
}
@media (min-width: $xl) {
    .siguiente{
        margin-left: -80px;
    }
    .atras{    
        margin-right: -80px;
    }
    
}

