.footer{
    color: #ffffff;
    height: 20em;
    font-family: 'Dosis', sans-serif;
    position: relative;
    top: 0em;
    background:  linear-gradient(to bottom, $color-primary,  $color-primary);
    z-index: $background;
    //asdasd
    padding: 1.5em  0;
    margin-top: auto;
    z-index: normal;
    // clip-path: polygon(0 38%, 13% 18%, 33% 13%, 61% 25%, 84% 19%, 100% 15%, 100% 85%, 100% 100%, 85% 100%, 15% 100%, 0 100%, 0% 85%);
}
.banckground-footer{
    position: absolute;
    background-size: cover;
    object-fit: cover;   
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .4;
    z-index: -1;    
    filter: blur(2px);
    
    }
    
.footer-links{
    color: #ffffff;
    height: 12em;
    padding: 1em 0 0  0;
    margin: 0 auto 0 auto;
    //  border: 1px solid red;
}
.list-footer{
    padding-left: 0;
}
.item-list-footer{
    list-style: none;
    margin-bottom: .5em;
    
}
.link-footer{
    color: $color-text-two;
    font-size: 1em;
    font-weight: bold;
    letter-spacing: 1px;
   
}
.title-footer{
    font-size: 1.2em;
    color: $color-text-two;
    font-weight: bold;
    letter-spacing: 1px;
}

.link-footer:hover{
    border-bottom: 1px solid $color-text-two;
    
}
.footer-logos{
    height: 6em;
    margin: 0 auto 0 auto;
    padding: .5em 0 0  0;
    //  border: 1px solid green;
}
.isologo-educolombia{
    width: 15em;
}
@media (min-width: $s) {
    .footer{
        
        height: 45em;
        // padding-left: 2em;
        
    }
    .link-footer{
        font-size: .9em;
    }
    .title-footer{
        font-size: 1.1em;
    }

}
@media (min-width: $m) {
    .footer{
        
        height: 20em;
        // padding-left: 2em;
        
    }
    .link-footer{
        font-size: 1em;
    }
    .title-footer{
        font-size: 1.2em;
    }

}