
@media (min-width: $s) {
    .form-modal-start{
        // border: 1px solid greenyellow;
        margin: 0;
        padding: .5em 0 0 0;
        justify-content: center;
       
    }
    .label-form-modal{
        color: $color-primary;
        font-weight: bold;
        width: 100%;
        border: 2px solid $color-primary;
        padding: .6em;
        border-radius: 2em;
        box-shadow: none;
        margin-bottom: 1em;
        font-size: 1em;
        outline: 0;
        // text-transform: capitalize;
    }
    .label-form-modal-focus{
        color: $color-primary;
        font-weight: bold;
        width: 100%;
        border: 2px solid $color-primary-two;
        padding: .6em;
        border-radius: 2em;
        box-shadow: none;
        margin-bottom: 1em;
        font-size: 1em;
        outline: 0;
        // text-transform: capitalize;
    }
    
    .agree-modal{
        text-align: center;
        font-size: .85em;
        color: #000000;
        max-width: 95%;
        margin-bottom: 1.5em;
        font-weight: 600;

    }
    .link-agree{
        color: #000000;
       
    }
    .link-agree:hover{
        color: $color-primary-two;
        text-decoration: none;
    }
    
}
@media (min-width: $m) {
    .form-modal-start{
        // border: 1px solid greenyellow;
        margin: 0;
        padding: 1em ;
    }
    .label-form-modal{
       
        padding: .8em;
        margin-bottom: 1em;
        font-size: 1em;
    }
    
}
@media (min-width: $lg) {
    .form-modal-start{
        // border: 1px solid greenyellow;
        margin: 0;
        padding: 1em ;
    }
    .label-form-modal{
       
        padding: .7em .6em ;
        margin-bottom: .8em;
        font-size: .95em;
    }
    .agree-modal{
        text-align: center;
        font-size: .85em;
        color: #000000;
        max-width: 95%;
        margin-bottom: 1em;
        font-weight: 600;

    }
    
}


// FORM TEACHERS MODAL LOGIN
@media (min-width: $s) {
    .label-double-form-modal{
        // display: inline;
        color: $color-primary;
        font-weight: bold;
        width: 49%;
        border: 2px solid $color-primary;
        padding: .6em;
        border-radius: 2em;
        box-shadow: none;
        margin: 0 0 .8em 0;
        font-size: 1em;
        outline: 0;
    
    }

    //dropdownlist teachers
    
}
@media (min-width: $m) {
    .label-double-form-modal{
        // display: inline;
        width: 49.5%;
        padding: .8em;
    
    }
}
@media (min-width: $lg) {
    .label-double-form-modal{
        // display: inline;
        padding: .65em;
    
    }
}
//##### clases para labels reactivos ########
.focus{
    border: 2px solid $color-primary-two;
}
.error{
    border: 2px solid $color-error;
}
.check{
    border: 2px solid $color-secundary-two;
}

