.header{
    background-color: $color-primary;
    font-family: 'Dosis', sans-serif;
    // font-family: 'Nunito', sans-serif;
    // font-family: 'Nanum Gothic', sans-serif;
    position: relative;
    top: 0em;
    
    width: 100%;
    background:  linear-gradient(to bottom, $color-primary,  $color-primary-two);
    
    z-index: $normal;
}


.banckground-banner{
    position: absolute;
    background-size: cover;
    object-fit: cover;   
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .4;
    z-index: -1;
    }
    
           
.img-logo{
    height: 2.5em;
}
.title-banner{
    color: #fff;
    text-align: center;
    font-weight: bolder;
    
}
.buttons-banner{
    text-align: center;
    
}

@media (min-width: $s) {
    .header{
        padding: 3em 0;
        height: 100vh;
    }
    .banner{
        padding: 0;
        margin-top: -2em;
        height: auto;
    }
    .header-dashboard{
    background-color: transparent;
    }
    .img-banner{
        height: 20em;
        
        z-index: $normal;
    }
    .main-planet{
        text-align: center;
        padding: 5em 0 1em 0;
        margin-top: -5em;
    }
    .title-banner{
        font-size: 1.8em; 
        margin: 0 0 .5em 0 ;  
    }
}
@media (min-width: $s)  and (orientation: landscape){
    .header{
        height: auto;
    }
}
@media (min-width: $m) {
    .banner{
        padding: 0;
        margin-top: -2em;
        height: auto;
    }
    .header{
        height: auto;
        padding: 8em 0;
    }
    .img-banner{
        height: 40em;
        padding: 0 5em;
        margin: 5em auto .5em auto;
        // border: 1px solid red;
    }
    .div-img1{
        position: relative;
        top: -26em;
        // z-index: -1;
    }
    .title-banner{
        font-size: 3em; 
        margin: 0;
    }
    .main-planet{
        text-align: center;
        padding:  0;
        margin-top: -5em;
    }
}

@media (min-width: $m) and (orientation: landscape) {
    .header{
        height: auto;
    }
    .eslogan{
        padding: 12em 0 0 0;
    }
    .img-banner{
        padding: 0;
    }
    
}
// media query only for ipad pro
//portrait
@media only screen and (min-width: 1024px) and (max-height: 1366px)  and (orientation: portrait){
    .img-banner{
        height: 30em;
        padding: 0;
        position: absolute;
        margin: 10em auto;
        // border: 1px solid red;
    }
    .header{
        height: 100vh;
    }
    .eslogan{
        position: absolute;
        top: 50%;
        left: 15%;
        margin: 1em auto;
    }
}
@media (min-width: $lg) {
    .header-dashboard{
        background-color: $color-primary;
        height: 70px;
        font-family: 'Dosis', sans-serif;
        // font-family: 'Nunito', sans-serif;
        // font-family: 'Nanum Gothic', sans-serif;
        position: relative;
        top: 0em;
        padding: 2em 0em;
        width: 100%;
        text-align: left;
        background:  $color-primary;
        // background: $color-primary;
        z-index: $normal;
    
    }
    .banner{
        padding: 3em 0 0 0;
        margin-top: 70px;
    }
    .header{
        padding: 3em 0;
        height: 100vh;
    }
    .img-banner{
        height: 28em;
        padding: 0;
        margin: 0 auto;
        // border: 1px solid red;
    }
    .eslogan{
        padding: 8em 0;
    }
    .title-banner{
        font-size: 2.5em;
        margin-bottom: 1.2em;
        margin-top: -1em;
    }
    .main-planet{
        text-align: left;
        margin-top: -2em;
    }
}
@media (min-width: $xl) {
    .banner{
        padding: 6em 0 0 0;
        margin-top: 70px;
       
    }
    .header{
        padding: 1em 0;
        height: 100vh;
    }
    .img-banner{
        height: 32em; 
       
        // border: 1px solid red;
    }
    .eslogan{
        padding: 12em 0;
        
       
    }
}
@media (min-width: $xxl) {
    .banner{
        padding: 12em 0 0 0;
        margin-top: 70px;  
    }
    .eslogan{
        padding: 10em 0;
    }
}


