.modal-start-get{
    z-index: $modal;
    position: fixed;
    border: none;
    width: 100% ;
    height: 100vh;
    top: 0;
    opacity: .99;
    top: 0em;
    width: 100%;
    background: rgba(0, 0, 0, .5);
    // filter: blur(500px);
    // z-index: $normal;
    overflow-y: scroll;
}

@media (min-width: $s) {
    .modal-start-get{
        padding: 1.5em 0em;
        // filter: blur(0px);
    }
    .main-modal-start-get{
        width: 94%;
        height: 35em;
        margin: 0 auto;
        padding: 0em 1em 0 1em;
        border-radius: 1em;
        z-index: 0;
        background: #ffffff;
        font-family: 'Dosis', sans-serif;
    }
    .main-modal-teacher{
        width: 94%;
        height: 65vh;
        margin: 0 auto;
        padding: 0em 1em 0 1em;
        border-radius: 1em;
        z-index: 0;
        background: #ffffff;
        font-family: 'Dosis', sans-serif;
    }
    .main-delete-teacher{
        width: 94%;
        height:8em;
        margin: 0 auto;
        padding: .5em 1em 0 1em;
        border-radius: 1em;
        z-index: 0;
        background: #ffffff;
        font-family: 'Dosis', sans-serif;
    }
    .title-modal-start{
        color: #000;
        text-align: center;
        font-size: 1.4em;
        font-weight: bolder;
        margin: 0;
        
    }
    .title-modal-delete{
        color: #000;
        text-align: center;
        font-size: 1.5em;
        font-weight: bolder;
        margin: 0;
        
    }
    .logo-modal-start{
        width: 74%;
        margin: .5em auto ;
    }
    .logo-modal-login{
        width: 59%;
        margin: 1em auto  ;
    }
    .logo-modal-delete{
        width: 55%;
        margin: .5em auto ;
    }
    .subtitle-delete{
        font-size: 1.5em;
    }
    .buttons-modal-start{
        text-align: center;
        padding: 2em 0 0 0;
    }
    .close-start-get{
        color: #000000;
        font-size: 1em;
        position: relative;
        left: 98%;
        top: .5em;
        cursor: pointer;
    }
    
    .back-modal{
        font-size: .85em;
        font-weight: 700;
        margin: 0 auto;
      
    }
    
}
@media (min-width: $s) and (orientation: landscape) {
    .main-modal-teacher{
        width: 94%;
        height: 32em;
        margin: 0 auto;
        padding: 0em 1em 0 1em;
        border-radius: 1em;
        z-index: 0;
        background: #ffffff;
        font-family: 'Dosis', sans-serif;
    }
    .main-delete-teacher{
        width: 65%;
        height:8em;
        margin: 0 auto;
        padding: .5em 1em 0 1em;
        border-radius: 1em;
        z-index: 0;
        background: #ffffff;
        font-family: 'Dosis', sans-serif;
    }
    
}
@media (min-width: $m){
    .main-modal-start-get{
        width: 80%;
        height: 44em;
        margin: 5em auto;
        padding: 0em 1em 0 1em;

    }
    .main-modal-teacher{
        width: 80%;
        height: 35em;
        margin: 5em auto;
        padding: 0em 1em 0 1em;

    }
    .main-delete-teacher{
        width: 60%;
        height: 10em;
        margin: 0 auto;
        padding: .5em 1em 2em 1em;
        border-radius: 1em;
        z-index: 0;
        background: #ffffff;
        font-family: 'Dosis', sans-serif;
    }
    .title-modal-start{
        font-size: 2.2em;
    }
    .logo-modal-start{
        width: 60%;
        margin: 2em auto;
    }
    .logo-modal-login{
        width: 45%;
        margin: 2em auto  ;
    }
    .close-start-get{
        font-size: 1.2em;
        top: .5em;
    }
    .back-modal{
        color: $color-primary;
        font-size: .9em;
        font-weight: 700;
        cursor: pointer;
        margin: 0 auto;
        position: relative;
        bottom: 1em;
    }
    .back-modal:hover{
        color: $color-primary-two;
    }
   
}

// media query only for ipad pro
//portrait
@media only screen and (min-width: 1024px) and (max-height: 1366px)     {
        .modal-start-get{
            padding: 10em 0em;
        }
        .main-modal-start-get{
            width: 80%;
            height: 50em;
            margin: 0 auto;
            padding: 0em 1em 0 1em;
        }
        .main-modal-teacher{
            width: 80%;
            height: 40em;
            margin: 0 auto;
            padding: 0em 1em 0 1em;
        }
        .main-delete-teacher{
            width: 45%;
            height: 10em;
            margin: 0 auto;
            padding: .5em 1em 2em 1em;
            border-radius: 1em;
            z-index: 0;
            background: #ffffff;
            font-family: 'Dosis', sans-serif;
        }
        .logo-modal-login{
            width:40%;
            margin: 2em auto  ;
        }
        .close-start-get{
            font-size: 1.2em;
            top: .5em;
        }
        .title-modal-start{
            font-size: 2.2em;           
        }
    }
/* Landscape */
// @media only screen and (min-width: 1366px) and (max-height: 1024px)  and (orientation: landscape)  and (-webkit-min-device-pixel-ratio: 1.5){
   
// }
@media (min-width: $lg){
    .main-modal-start-get{
        width: 50%;
        height: 38em;
        margin: 0 auto;
        padding: 2em 1em 0 1em;
    }
    .modal-start-get{
        overflow-y: hidden;
        padding-top: 1em;
    }
    .main-modal-teacher{
        width: 48%;
        height: 30em;
        margin: 0 auto;
        padding: 2em 1em 0 1em; 
    }
    .main-delete-teacher{
        width: 30%;
        height: 8.5em;
        margin: 0 auto;
        padding: .5em 1em 2em 1em;
        border-radius: 1em;
        z-index: 0;
        background: #ffffff;
        font-family: 'Dosis', sans-serif;
    }
    .logo-modal-start{
        width: 45%;
        margin: 2em auto;
    }
    .logo-modal-login{
        width: 35%;
        margin: 1.5em auto  ;
    }
    .close-start-get{
        font-size: 1.2em;
        right: 28%;
        top: -1em ;
    }
    .title-modal-start{
        font-size: 2em;
        margin-top: -1.4em;
    }
}

@media (min-width: $xl) {
    .main-modal-start-get{
        width: 40%;
        height: 38em;
        margin: 0 auto;
        padding: 2em 1em 0 1em;
    }
    .logo-modal-login{
        width: 36%;
        margin: 2em auto  ;
    }
    .logo-modal-start{
        width: 45%;
      
    }
    
    .main-modal-teacher{
        width: 45%;
        height: 32em;
        margin: 0 auto;
        padding: 2em 1em 0 1em; 
    }
    .main-delete-teacher{
        width: 25%;
        height: 8.5em;
        margin: 0 auto;
        padding: .5em 1em 2em 1em;
        border-radius: 1em;
        z-index: 0;
        background: #ffffff;
        font-family: 'Dosis', sans-serif;
    }
    .close-start-get{
        font-size: 1.2em;
        right: 30.5%;
    }
    .title-modal-start{
        font-size: 2em;
    }
    .modal-start-get{
        padding-top: 5em;
     }
}

@media (min-width: $xxl) {
    .logo-modal-start{
        width: 19em;
    }
    .logo-modal-login{
        width: 32%;
        margin: 2em auto  ;
    }
    .main-modal-teacher{
        width: 40%;
        height: 32em;
        margin: 0 auto;
        padding: 2em 1em 0 1em; 
    }
    .main-modal-start-get{
        height: 39em;
        max-width: 45em;
        margin: 0 auto;
        padding: 2em 1em 0 1em;
    }
    .close-start-get{
        right: 30.5%;
        top: -1em;
    }
}
