
// @media (min-width: $s) {
//     .navbar{
//         // background:  linear-gradient(to right, $color-primary, $color-primary-two);
//         background: transparent;
//         height: 50px;
//         box-sizing: border-box;
//         font-family: 'Dosis', sans-serif;
//         font-weight: bold;
//         letter-spacing: 1px;
//         position: fixed;
//         width: 100%;
//         top: auto;
//         bottom: 0;
//         z-index: $fixed;
//         transition: .5s ease;

//         // border-bottom: 1px solid #ccc;
//     }
//     .nav{
//         padding: 10px 0 0 0;
//         height: 100%;

//     }
//     .logotipo{
//         display: none;
//     }
//     .icon-navbar-small{
//         color: $color-text-two;
//         font-size: 1.5em;
//         display: inline;


//     }
// }
// @media (min-width: $m) {
//     .navbar{
//         // background:  linear-gradient(to right, $color-primary, $color-primary-two);
//         background: transparent;
//         height: 70px;
//         box-sizing: border-box;
//         font-family: 'Dosis', sans-serif;
//         font-weight: bold;
//         letter-spacing: 1px;
//         position: fixed;
//         top: 0;
//         width: 100%;
//         left: 0;
//         z-index: $fixed;
//         transition: .5s ease;
//         // border: 1px solid #ccc;

//     }
//     .logotipo{
//         font-size: 2em;
//         display: block;
//         // border: 1px solid #ccc;

//     }
//     .icon-navbar-small{
//         display: none;
//     }
//     .link-navbar{
//         color: $color-text-two;
//         font-size: 1em;
//         margin: auto 0 auto .5em;
//         letter-spacing: 1.5px;
//         text-transform: capitalize ;
//     }
//     .link-navbar:hover{
//         color: $color-secundary;

//     }
//     .img-avatar-navbar{
//         max-width: 30px;
//         max-height: 30px;
//         border: 1px solid $color-text-two;
//         border-radius: 50%;
//         cursor: pointer;

//     }

// }
// @media (min-width: $lg) {
//     .logotipo{
//         font-size: 1.5em;
//     }
//     .nav{
//         padding: 20px 0 ;
//     }
// }
// //main-menu
// .main-menu{
//     text-decoration: none;
//     list-style: none;
//     text-align: right;
//     top: 0; //esto es en tamaño m
//     // border: 1px solid #ccc;
// }
// .menu-item{
//     display: inline;

// }

// .logotipo{
//     color: #ffffff;
// }
// .logotipo:hover{
//     text-decoration: none;
// }
// .main-icon-menu{
//     justify-content: space-between;
// }

// .section-dashboard{
//     background: $color-bg;
// }

@media (min-width: $s){
    .main-menu-nav{
        display: none;
    }
    .navbar{

        background: transparent;
        height: 50px;
        box-sizing: border-box;
        font-family: 'Dosis', sans-serif;
        font-weight: bold;
        letter-spacing: 1px;
        position: fixed;
        width: 100%;
        top: auto;
        bottom: 0;
        z-index: $fixed;
        transition: .5s ease;
    }
    .logotipo{
        display: none;
    }
    .main-menu-nav-small{
        // border: 1px solid red;
        width: 100%;
        height: 60px;
        justify-content: space-between;
        list-style: none;
        padding: 0;
       


    }
    .icon-navbar-small{
        color: $color-primary-two;
        font-size: 1.5em;
    }
    .list-item-small{
        display: inline;
    }
    .icon-more,
    .icon-home{
        color: #fff;
    }
}
@media (min-width: $m){
    .icon-navbar-small{
        color: $color-primary-two;
        font-size: 2em;
    }
}
@media (min-width: $m) and (orientation: landscape) {
    .main-nav{
        margin-left: -220px;
        margin-right: 30px;
    }
}
@media (min-width: $lg){
    .navbar{
        background:  linear-gradient(to right, $color-primary, $color-primary-two);
        background: transparent;
        height: 70px;
        box-sizing: border-box;
        font-family: 'Dosis', sans-serif;
        font-weight: bold;
        letter-spacing: 1px;
        position: fixed;
        top: 0;
        width: 100%;
        left: 0;
        z-index: $fixed;
        transition: .5s ease;
        // border: 1px solid #ccc;
    }
    .nav{
        height: 70px;
        // border: 1px solid #ccc;
        padding-top: 20px;
    }
    .main-logotipo{
        // border: 1px solid #ccc;
        height: 70px;
    }
    .logotipo{
        display: block;
        color: #ffffff;
        font-size: 1.4em;
    }
    .main-menu-nav{
        display: block;
        list-style: none;
        // border: 1px solid #ccc;
        height: 70px;
        padding-top: 25px;

    }
    .main-menu-nav-small{
        display: none;

    }
    .menu-item{
        display: inline;
    }
    .link-navbar{
        color: $color-text-two;
        font-size: 1em;
        margin: auto 1em auto 0em;
        letter-spacing: 1.5px;
        text-transform: capitalize ;
    }
    .link-navbar:hover {
        color: $color-secundary;

    }
    .img-avatar{
        height: 40px;
        width: 40px;
        object-fit: cover;
        border-radius: 50%;
        position: relative;
        bottom: -1em;
    }


}
