@media (min-width: $s) {
    .section-dashboard{
      height: auto;
      padding: 0em 0 3em 0;
    }
}
@media (min-width: $m) and (orientation: landscape) {
    .section-dashboard{
        height: auto;
        padding: 1em 0 3em 0;
      }
}

@media (min-width: $m) {
    .section-dashboard{
      height: auto;
      padding: 2em 0 3em 0;
    }
}
@media (min-width: $m) and (orientation: landscape) {
    .section-dashboard{
      height: auto;
      padding: 2em 0 3em 0;
    }
}

@media (min-width: $lg) {
    .section-dashboard{
      padding: 2em 0 3em 0;
      height: 100vh;
    }
}
@media (min-width: $xl) {
  .section-dashboard{
    padding: 10em 0 3em 0;
   
  }
}
  
  